body{
    background-color: #1a1a1d;
    color: #c3073f;
    font-family: Tahoma;
  }
  
  h1{
    text-align: center;
  }
  
  .inline, .center {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    color: white;
  }
  
  p{
    color: white;
    text-align: center;
  }
  
  .fieldset-text{
    color: white;
    width: 100%;
    text-align: left;
  }
  
  fieldset{
    margin: 2px auto;
  }
  
  legend{
  color: #950740;
  
  }
  
  input{
    color: black;
    font-family: times;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  input[type="textarea"]{
    width: 100%;
  }
  
  input[type="submit"]{
    font-size: 20px;
    color: White;
    background-color: #c3073f;
    margin: 5px 50%;
  }
  
  
  
  